.formContainer{
  display: flex;
  padding: 0;
  position: relative;
  top: -1.68rem;
  gap: 0.5rem;
  margin-right:auto;
  margin-left: auto;
  width: 46rem;
  height: 3.4rem;
  justify-content: center;
  align-items: center;
}

.formContainer textarea{
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: hidden;
  line-height: 1.4;
  resize:none;
  background: var(--gray-500);
  color: var(--gray-100);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  transition: 0.15s;
}

.formContainer textarea:hover{
  box-shadow: 0 0 0 1px var(--purple-500);
}

.formContainer textarea::placeholder{
  line-height: 1.4;
  color:var(--gray-300);
}

.formContainer button[type=submit]{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 5.65rem;
  height: 3.25rem;
  padding: 1rem;
  border-radius: 8px;
  line-height: 1.4;
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--gray-100);
  background: var(--blue-500);
  border: transparent;
  transition: 0.15s;
}

.formContainer button[type=submit]:hover{
  background: var(--blue-300);
}





